#borde{
	border-width: medium;
	border-radius: 20px;
	background-color: #F2F2F2;
}
textarea{
	resize: none;
}
#imgFrame{
	border: double;
	padding: 2px;
	height: 160px;
	width: 160px;
}

div{
	padding: 4px;
}
#lblperfil{
	
	border-width: 0px;
	width: auto;
}
#foto-perfil{
	width: 150px;
	height: 150px;
}
#foto-miniatura{
	width: 30px;
	height: 30px;	
}
#foto-post{
	border: double;
	width: 100px;
	height: 100px;		
}
#foto-front{
	border: double;
	width: 70px;
	height: 70px;		
}
td, th{
	padding: 3px;
	
}
#like{
	color: 	#66FF66;
}
#dislike{
	color: #CC0000;
}
#numVotos{
	border: none;
	width: 3em;
	text-align: center;
}